# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# ide
.idea/
*.iml

# npm and yarn cache
.npm/
.yarn/
.pnp.*

# lockfiles and build results
package-lock.json
yarn.lock
build/

# logs
*.log

# linter
eslintcache

# VS Code
.vscode/
